<p>money works!</p>

<div class="my-main-view">
     <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <h2>Currency</h2>
            <app-coin></app-coin>
            <!-- <p>HTML is the standard markup language for describing the structure of the web pages. Our HTML tutorials will help you to understand the basics of latest HTML5 language, so that you can create your own website.</p>
            <p><a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p> -->
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
            <h2>Pair Ratio</h2>
            <app-coin-pair></app-coin-pair>
            <!-- <p>CSS is used for describing the presentation of web pages. CSS can save a lot of time and effort. Our CSS tutorials will help you to learn the essentials of latest CSS3, so that you can control the style and layout of your website.</p>
            <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p> -->
        </div>
  
    </div>
    <!-- <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2019 Tutorial Republic</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-dark">Terms of Use</a> 
                <span class="text-muted mx-2">|</span> 
                <a href="#" class="text-dark">Privacy Policy</a>
            </div>
        </div>
    </footer> -->
</div>
