/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/scss/bootstrap";
/* using scss */
//@import "scss/andrey1";
//@import "~@progress/kendo-theme-bootstrap/scss/all";
$body-bg: #FFFFFF;
$body-color: #111;

@import "~bootstrap/scss/bootstrap";
.spacer {
    flex: 1 !important;
}

.my-main-view {
     
  
}

.my-table-view {
 }

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    min-height: 100%;
    font-family: 'Roboto';
}